@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@300&family=Rubik&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto:wght@300&family=Rubik:wght@500&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

/* Header */

header {
    padding-top: 1em;
}

.logo {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logo img {
    width: 34px;
    height: 34px;
}

.logo p {
    margin-bottom: -5px;
    margin-left: .6em;
    font-weight: 500;
}

.nav {
    justify-content: center;
}

.nav a {
    padding: .5em 1em;
    margin: 1em;
    color: #4F5665;
    transition: .3s;
}

.nav a:hover {
    color: #000;
    transition: .3s;
}

.nav a.active {
    color: #000;
}

.sign-up {
    margin-top: 1em;
    text-align: center;
}

.btn__in {
    font-weight: 500;
    padding: .5em 1.5em;
    transition: .3s;
}

.btn__in:hover {
    border: 1px solid #000;
    border-radius: 5em;
    transition: .3s;
}

.btn__up {
    font-weight: 500;
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 5em;
    padding: .5em 1.5em;
    margin-left: .5em;
    transition: .3s;
}

.btn__up:hover {
    background-color: #F53855;
    color: #fff;
    transition: .3s;
}

.slider-btn {
    background-color: #4F5665 !important;
    color: #000 !important;
}

.big-text {
    font-size: 2em;
}

.card-padding {
    margin: 0 2em;
    padding: 2em 0;
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-inner {
    height: 388px;
}

.carousel-item {
    margin: .2em auto;
    width: 50%;
    float: none;
    text-align: center;
}

.block {
    height: 450px;
}

.header {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    transition: .3s;
    height: 30px;
    display: none;
}

.burger-button {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fff;
    z-index: 10000;
}

.burger-button span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #F53855;
    left: 5px;
    border-radius: .2em;
}

.burger-button span:nth-child(1) {
    transform: translateY(-10px);
}

.burger-button span:nth-child(2) {
    transform: translateY(10px);
}

.mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.mobile-nav p {
    margin: .4em;
    color: #4F5665;
}

.card {
    width: 25%; 
    margin: 1em;
}

footer {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}


@media screen and (max-width: 990px) {
    .card {
        width: 70%;
        height: 100%;
    }

    .carousel-item {
        margin: .5em;
        width: 90%;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    header {
        display: none !important;
    }
    .header {
        display: flex;
    }
    .carousel-item {
        margin: 0 auto;
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .fix {
        flex-direction: column !important;
    }
    .carousel-inner {
        height: 340px;
    }
}

@media screen and (max-width: 460px) {
    .fix {
        flex-direction: column !important;
    }
    .carousel-inner {
        height: 300px;
    }
}